input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	padding: 8px 12px;
    font-size: 14px;
    color: #666;
    border: 1px solid #D8D8D8;
    font-family: inherit;

	&:focus {
		color: $color__text-input-focus;
	}
	&.search-field{
		background: none;
	    text-indent: 10px;
	    height: 50px;
	}
	&.search-submit{
		height: 40px;
    	width: 40px;
	}
}
input{
	padding: 8px 12px;
    font-size: 14px;
    color: #666;
    border: 1px solid #D8D8D8;
    font-family: inherit;
    margin:0px;
}
.widget_search {
    background: #fff;
    border-bottom: 1px solid #e0e0e0;
}
select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}
