a {
	color: $color__link;

	&:visited {
		//color: $color__link-visited;
		color:darken($color__link,10%);
	}
	&:hover,
	&:focus,
	&:active {
		color: lighten($color__link,10%);
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
